[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<1.9"
djangorestframework = "<3.7"
"psycopg2-binary" = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "2.7"
